*{
    margin:0;
    padding:0;
}
body{
    background-color: #F8F8FF;
    font-family: "Playfair Display", serif;
}
nav{
  font-optical-sizing: auto;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 70px;
    background-color: #1F1F1F;
    color:white;
}
nav ul li{
    padding:0 10px;
}
.brand img{
    width:63px;
    height:64px;
    padding:0 8px;
    font-weight: bolder;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
}
.container{
    min-height: 64vh;
    background-color: #1F1F1F;
    color:white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    padding: 8px;
    border-radius: 10px;
    background-image:url(pexels-adrien-olichon-1257089-2387793.jpg);
}
.bottom{
    background-color: #1F1F1F;
    color:white;
    position: sticky;
    height:145px;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width:80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 20px;
}
.songItem{
    height: 55px;
    display: flex;
    color:white;
    width:120%;
    margin:42px 0;
    justify-content: space-between;
    align-items: center;
    border-radius:20px;
}
.songlistPlay{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.songItem img{
    height: 81px;
    width: 86px;
    margin: 0 23px;
    border-radius: 10px;
}
.timeStamp{
    margin: 0 10px;
}
.timeStamp i{
    cursor: pointer;
}
.songInfo {
    position: absolute;
    left:10.5vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s  ease-in ;
}